<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    {% block metas %}{% endblock %}
    <title>{% block title %}AL - Test Grability{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body id="{% block idBody '' %}" class="{% block classBody '' %}">
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
